<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Dot Commerce", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Categories", "Index", "Category")</li>
                    @if (Session["Email"] == null)
                    {
                        <li>@Html.ActionLink("Login", "Login", "Person")</li>
                        <li>@Html.ActionLink("Sign Up", "Register", "Person")</li>
                    }
                </ul>
            </div>
            <div>
                @using (Html.BeginForm("Search", "Search"))
                {
                    @Html.TextBox("SearchString")
                    <input type="submit" value="Search" />
                }
            </div>
            <div>
                @if (Session["Email"] != null)
                {
                    @Html.ActionLink("My Cart", "Index", "Cart", null, new { @style = "text-align:right" })
                    @Html.ActionLink("My Orders", "Index", "OrderDetail", null, new { @style = "text-align:right" })
                    @Html.ActionLink("Sign Out", "Logout", "Person", null, new { @style = "text-align:right" })
                }
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - DotCommerce Pvt. Ltd.</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
