@model IEnumerable<DotCommerce.Models.Product>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SearchResult</title>
</head>
<body>

    @if (ViewBag.NoSearch != null)

    {
        <h2>@ViewBag.NoSearch</h2>
    }

    else
    {
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                @*<th>
                        @Html.DisplayNameFor(model => model.Description)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Price)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Image)
                    </th>*@
                @*<th>
                        @Html.DisplayNameFor(model => model.StockId)
                    </th>*@
                @*<th>
                        @Html.DisplayNameFor(model => model.Category.Title)
                    </th>*@
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title) |
                        @Html.ActionLink("Details", "Details",
                        "Product", new {id = item.Id}, null)
                    </td>
                    @*<td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Price)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Image)
                        </td>*@
                    @*<td>
                            @Html.DisplayFor(modelItem => item.StockId)
                        </td>*@
                    @*<td>
                            @Html.DisplayFor(modelItem => item.Category.Title)
                        </td>*@
                    @*<td>
                            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
                            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
                            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
                        </td>*@
                </tr>
            }

        </table>
    }
</body>
</html>
